## add CSP headers for security
<ifModule mod_headers.c>

Header add Content-Security-Policy "default-src 'self' https://fonts.googleapis.com/ https://fonts.gstatic.com/ https://www.google.com/maps/ https://docs.google.com/forms/; report-uri /csp-violation-report-endpoint.html; img-src 'self' data:"

Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options "nosniff"
Header set Referrer-Policy "no-referrer"

</ifModule>

## MIME TYPES
<IfModule mod_mime.c>
	
	AddCharset utf-8 .html .css .js .xml
	AddType application/javascript js

</IfModule>

## deal with broken links
<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule "^(our-new-facebook-page|headspace|covid-19|we-are-here-for-you|covid-19-vaccinations|covid-vaccination-clinics|high-risk-groups)/$" "/news.html" [L,R]

## Point old wp links with trailing slash to new static html files
## Conditions: if its not a directory then redirect to html file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule "^(.*)/$" "/$1.html" [L,R]

</IfModule>

